@charset "UTF-8";

#b{width: 100%; height: 850px; background-color: violet;}
#b img{width: 100%; height: 100%;}

#c{width: 1100px; height: 150px; background-color: turquoise; display: flex; align-items: center;}
.box1{width: 23%; height: 100px; border: 2px solid #ddd;}

#d{width: 1100px; height: 250px; background-color: tomato;}

#e{width: 1100px; height: 1000px; background-color: wheat;}

#f{width: 100%; height: 800px; background-color: yellow;}

#g{width: 100%; height: 800px; background-color: yellowgreen;}

#h{width: 1100px; height: 600px; background-color: thistle;}

#i{width: 1100px; height: 400px; background-color: green;}

#j{width: 1100px; height: 800px; background-color: brown;}

#k{width: 100%; height: 350px; background-color: cornflowerblue;}

#l{width: 1100px; height: 600px; background-color: darkseagreen;}