@charset "UTF-8";

.slide{width: 300vw;}
.slide li{width: 100vw; height: 850px; float: left;}
.slide li img{width: 100%; height: 100%;}

#c{width: 1100px; height: 150px; display: flex; justify-content: space-between; align-items: center;}
.box1{width: 23%; height: 100px; border: 2px solid #ddd;}
.box1 img{width: 55px; height: 50px; margin: 25px 10px; float: left;}
.fbox1{width: 69%; height: 100%; float: right;}
.fbox1 p{margin-top: 28px; font-size: 15px; width: 100%; font-weight: bolder;}
.fbox1 span{margin-top: 10px; font-size: 13px;}

#d{width: 1100px; height: 300px; display: flex; justify-content: space-between; align-items: center;}
.box2{width: 48%; height: 100%; float: left; position: relative;}
.box2 img{width: 100%; height: 100%; position: absolute; }
.cover1{width: 100%; height: 100%; position: absolute;}
.cover1:hover{opacity: 0.1; background-color: white;}

#e{width: 1100px; height: 1000px; margin: 0 auto;}
#booklist{text-align: center; width: 900px; margin: 100px auto;}
#booklist li{width: 300px; text-align:center; border-left:2px solid #ddd;   border-top:2px solid #ddd;  border-bottom:2px solid #ddd; float:left; line-height:45px; cursor:pointer; padding:5px 50px; font-weight: bolder; margin-bottom: 50px;}
.box {width:200px; height:400px; float:left; text-align:center;  margin:10px; border-radius:4px; border:1px solid #ddd; padding: 30px 0px;}

.box p {font-size:10px; color:#666; text-align:left; margin: 10px; text-align: center;} 
.box h3{font-size: 13px; margin: 10px; text-align: center;}
.box > h3 > a {text-decoration: none; color:#333;}
.box > h3 > a:hover {color: #1f8ce6;}
.box > p > a {color:#666; text-decoration: none;}
.box > p > a:hover {color: #666;}

.btn {display: inline-block;  padding: 2px 10px;  border: solid 2px currentColor; border-radius: 6px; background-color: #1f8ce6; color: #fff; font-size: 10px; text-decoration: none; width: 50px; height: 25px;}
.btn a:hover {text-decoration: none;}

#lista {display:block;}
#listb {display:none;}
#listc {display:none;}


#booklist li:last-child {border-right:2px solid #ddd;}
#booklist li:hover{color: #1f8ce6;}


#f{width: 1100px; height: 400px;}

.box3{width: 60%; height: 320px; float: left; margin-top: 40px; position: relative;}
.box3 img{width: 100%; height: 100%; position: absolute;}

.box3 button{position: absolute; cursor: pointer; width: 120px; height: 50px; border: 2px solid #ff4d4d; border-radius: 10px; background: inherit; font-weight: bolder; font-size: 15px; color: #ff4d4d; top: 210px; left: 110px;}
.box3 button:hover{ color: white; background-color: #ff4d4d;}

.box4{width: 37%; height: 320px; float: right; margin-top: 40px; position: relative;}
.box4 img{width: 100%; height: 100%; position: absolute;}

.cover2{width: 100%; height: 100%; position: absolute;}
.cover2:hover{opacity: 0.2; background-color: white;}


#g{width: 1100px; height: 700px; text-align: center;}
#g h1{width: 500px; height: 55px; border-bottom: 3px solid #1f8ce6; margin-top: 50px;}

.boxa {width:255px; height:400px; float:left; text-align:center;  margin:90px 10px; border-radius:4px; border:1px solid #ddd; padding: 30px 0px;}

.boxa p {font-size:10px; color:#666; text-align:left; margin: 10px; text-align: center;} 
.boxa h3{font-size: 13px; margin: 10px; text-align: center;}
.boxa > h3 > a {text-decoration: none; color:#333;}
.boxa > h3 > a:hover {color: #1f8ce6;}
.boxa > p > a {color:#666; text-decoration: none;}
.boxa > p > a:hover {color: #666;}




#h{width: 100%; height: 450px; position: relative;}
#h img{width: 100%; height: 100%; position: absolute;}
.cover3{width: 100%; height: 100%; position: absolute;}
.cover3:hover{opacity: 0.1; background-color: white;}
.fbox2{position: absolute; width: 75%; height: 300px; float: left; margin: 80px; padding: 70px 30px; text-align: center;}
.fbox2 h2{font-size: 35px; }
.fbox2 p{font-size: 25px; font-weight: bolder; color: #666; margin-top: 10px;}
.fbox2 button{width: 250px; height: 50px; border-radius: 5px; border: none; margin-top: 30px; font-weight: bolder; font-size: 15px; background-color: yellow;}
.fbox2 button:hover{background-color: white; color: #212121;}




#i{width: 1100px; height: 550px;}

#i h1{margin-top: 50px; width: 250px; height: 55px; border-bottom: 3px solid #1f8ce6;}

#bigbox1{float: left; width: 50%; height: 70%; margin-top: 50px;}
#bigbox1 img{width: 255px; height: 200px; float: left;}

#bigbox2{float: left; width: 50%; height: 70%; margin-top: 50px;}
#bigbox2 img{width: 255px; height: 200px; float: left;}

.fbox3{width: 280px; height: 280px; float: right; border: 2px solid #ddd; padding: 25px;}
.fbox3 h4{font-size: 20px; margin-bottom: 10px;}
.fbox3 p{margin-top: 10px; margin-bottom: 10px;}
.fbox3 a{color: black;}
.fbox3 a:hover{color: #1f8ce6; font-weight: bolder;}